.preset-box {
  width: 28px;
  height: 28px;
  border-radius: 6px;
  border: 1px solid #ced4da;
}

.list-menu {
  li {
    display: inline-block;
    margin: 3px 6px 3px 0;
    padding: 0;
    list-style-type: none;
    background: white;
    vertical-align: middle;
  }
}